# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/collected/*
*.log

# System files
.DS_Store
Thumbs.db
models/
